.headingColor .sapUxAPObjectPageSectionTitle {
    /* display: none; */
    color: #5c85d6;
    font-weight: bold;
}

.boldHeading .sapUxAPObjectPageSubSectionHeaderTitle {
    color: #5c85d6;
    font-weight: bold;
}
